DEBUG=1
PRODUCTION_SERVER_URL='https://cloud.tail38611b.ts.net'
SSL_SERVER_HOST='gbot.tail38611b.ts.net'
SERVER_HOST=0.0.0.0
SERVER_PORT=8001
REDIS_CONNECTION_STRING='{{ dl://9658C45B-EA57-4CDC-B604-2F2440563CFE/content }}'
DEXCOM_API_CLIENT_ID='{{ dl://E1F89FB4-1603-4688-A800-ABD9B451CAC5/content }}'
DEXCOM_API_SECRET='{{ dl://DB65822C-5CFA-44C1-AEDA-8A8A401EDA73/content }}'
SECRET_KEY='{{ dl://919FEAB4-55AD-4CAB-8702-B30A8C21B069/content }}'
LLM_BACKEND='ollama'
DEV_CERTS_METHOD='tailscale'
LOGGER_NAME='pfun-cma-model-app'
# Below is the Kaggle token, which is used for accessing Kaggle datasets and APIs. It should be kept secret and not shared publicly. The token is stored securely and accessed through the dl:// protocol to ensure it is not exposed in the codebase. Make sure to replace the placeholder with the actual token when deploying the application.
# KAGGLE_TOKEN=...
{{ dl://561CD213-5C5C-4091-9F12-FBF59D04930F/content }}
LOGFIRE_WRITE_TOKEN='{{ dl://BF48DBDA-C349-425B-8947-FE124F4AD22F/content }}'