#!/usr/bin/env sh
export DEVENV_IN_DIRENV_SHELL=true
. './.venv/bin/activate'
export PS1="$(basename $PWD)$PS1"
GOBIN=${GOBIN:-$(go env GOPATH)/bin}
export PFUN_QT_GUI_API_URL
. './packages/pfun_qt_gui/.env'
