#!/usr/bin/env sh
use flake
export DEVENV_IN_DIRENV_SHELL=true
. './.venv/bin/activate'
export PS1="$(basename $PWD)$PS1"
GOBIN=${GOBIN:-$(go env GOPATH)/bin}
export SCRIPT_DIR
SCRIPT_DIR=$(realpath "$PWD/scripts")
export KAGGLE_API_TOKEN

export LLM_BACKEND
export DEBUG
export PRODUCTION_SERVER_URL
export SSL_SERVER_HOST
export SERVER_HOST
export SERVER_PORT
export REDIS_CONNECTION_STRING
export KAGGLE_API_TOKEN
