[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra.git
[submodule "examples"]
	path = examples
	url = https://github.com/pfun-health/pfun-cma-examples.git
[submodule "pfun-cma-engine-c"]
	path = pfun-cma-engine-c
	url = https://github.com/pfun-health/pfun-cma-engine-c
