botocore==1.14.0
chalice==1.29.0
cffi
pkgconfig
numpy
pytest
pandas==2.0.0
matplotlib
pytz
pydantic
boto3
scipy==1.11.2
apispec
marshmallow
apispec-chalice @ git+https://github.com/rocapp/apispec-chalice@master
apispec[validation]
apispec[yaml]
apispec[json]