botocore==1.14.0
chalice==1.29.0
cffi
pkgconfig
numpy
pytest
pandas==2.0.0
matplotlib
pytz
pydantic==2.3.0
boto3==1.11.0
scipy==1.11.2
pdoc3
aws-cdk.asset-awscli-v1==2.2.200
cdk-iam-floyd==0.507.0
-r requirements.txt
