{% extends "base.html.jinja2" %}
{% block doctype %}
    {{ super() }}
{% endblock doctype %}
<head>
    {% block head %}
        <title>(Demo) PFun Glucose</title>
        {{ super() }}
        <script src="/static/js/login_dexcom.js"></script>
        <script>
            (async () => {
                var loggedin = await checkLoggedIn();
                var token;
                try {
                    token = (await getDexcomOAuthToken()).access_token;
                } catch (err) { console.warn('not logged in.'); }
                if((loggedin) && (token != '') && (token != null) && (token)){
                    console.log('logged in already.');
                } else {
                    console.warn('not yet logged in.');
                    window.location.href = '/login';
                }
            })();
        </script>
    {% endblock head %}
</head>
<body class="h-100">
    {% block body %}
        <header>
            {% block header %}
                {{ super() }}
            {% endblock header %}
        </header>
        {# main section #}
        <main class="container-fluid d-flex h-100">
            <div class="offcanvas offcanvas-start"
                 id="pfunGlucoseNav"
                 data-bs-scroll="true"
                 tabindex="-1">
                <nav class="me-4 border-end shadow">
                    <div class="offcanvas-header">
                        <div class="col col-10 container p-1 mb-2">
                            <a class="navbar-brand rounded-pill shadow p-2 pfun-servicemark"
                               style="background: lightskyblue"
                               href="/">{{ pfun_icon(25, 25) }}<span class="first-p pfun-servicemark">P</span>Fun Glucose
                            </a>
                        </div>
                        <div class="col col-2 container p-1 mb-2">
                            <button type="button"
                                    class="btn"
                                    data-bs-dismiss="offcanvas"
                                    data-bs-target="#pfunGlucoseNav"
                                    aria-label="Close">[x] Close</button>
                        </div>
                    </div>
                    <div class="offcanvas-body">
                        {# Login panel #}
                        {% include "login_dexcom.html.jinja2" %}
                        <ul class="mt-5 nav nav-tabs flex-column"
                            role="tablist"
                            aria-orientation="vertical">
                            {# list of navigation links #}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active"
                                   aria-current="page"
                                   href="#welcome-msg"
                                   id="home-tab"
                                   aria-selected="true"
                                   data-bs-dismiss="offcanvas"
                                   data-bs-toggle="pill">Home</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link"
                                   href="#dataContainer"
                                   data-bs-dismiss="offcanvas"
                                   id="data-tab"
                                   data-bs-toggle="pill">Browse Data</a>
                            </li>
                            <li class=" nav-item" role="presentation">
                                <a class="nav-link"
                                   href="#recsContainer"
                                   id="recs-tab"
                                   data-bs-dismiss="offcanvas"
                                   data-bs-toggle="pill">View Results</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="tab-content col col-10" id="main-tab-container">
                {# tabs main content #}
                <div class="tab-pane fade active show"
                     role="tabpanel"
                     aria-labelledby="home-tab"
                     id="welcome-msg">
                    {# Welcome message/home tab #}
                    <ion-title>
                    <h2 class="lead display-2">{{ pfun_icon(64, 64) }} Welcome!</h2>
                    </ion-title>
                    <h3>Getting Started...</h3>
                    <ion-item>
                    <ion-note>
                    <h4>Select 'Menu'</h4>
                    <p class="text-body">Select 'Menu' to see the list of options.</p>
                    <h4>Connect to Dexcom</h4>
                    <p class="text-body">
                        To get started, connect to your Dexcom account by selecting 'Login (Dexcom)'. You'll be redirected to the Dexcom login page. Enter your credentials...
                    </p>
                    </ion-note>
                    </ion-item>
                    <ion-item>
                    <ion-note>
                    <h4>Select a CGM wear period</h4>
                    <p class="text-body">
                        Once you've logged in with Dexcom, you will be redirected back to PFun Glucose.
                        Select a CGM wear period by navigating to 'View Data'.
                    </p>
                    </ion-note>
                    </ion-item>
                    <ion-item>
                    <ion-note>
                    <h4>View Results</h4>
                    <p class="text-body">
                        Once you've selected a CGM wear period to analyze, check the 'View Results' tab to view your personalized PFun Chronometabolic Analysis report.
                    </p>
                    </ion-note>
                    </ion-item>
                </div>
                <div class="tab-pane fade"
                     role="tabpanel"
                     aria-labelledby="data-tab"
                     id="dataContainer">
                    {# Data menu tab #}
                    <div class="row">{% include "data_menu.html.jinja2" %}</div>
                </div>
                <div class="tab-pane fade"
                     role="tabpanel"
                     aria-labelledby="recs-tab"
                     id="recsContainer">
                    {# Recommendations menu tab #}
                    <div class="row">{% include "recs_menu.html.jinja2" %}</div>
                </div>
            </div>
            <script>
            $(() => {
                $("a.nav-link").each((i, el) => {
                    var trigger = new bootstrap.Tab(el);
                    el.addEventListener('click', async (evt) => {
                        evt.preventDefault();
                        trigger.show();
                        bootstrap.Offcanvas.getInstance("#pfunGlucoseNav").hide(); // hide navigation
                        await localStorage.setItem("active-tab", evt.target.id);
                    })
                })
                $("#dataContainer").on("show.bs.tab", async () => {
                    toggleDexcomAuthButtons();
                });
            });
            document.addEventListener("DOMContentLoaded", () => {
                const active_tab = localStorage.getItem("active-tab");
                if (active_tab) {
                    bootstrap.Tab.getOrCreateInstance($("#" + active_tab)).show();
                }
            });
            </script>
        </main>
        <footer>
            {% block footer %}
                {{ super() }}
            {% endblock footer %}
        </footer>
    {% endblock body %}
</body>
</html>
