{% extends "base.html.jinja2" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock head %}
</head>
<body>
    {% block body %}
        <div id="login-bar"></div>
        <script src="/static/js/login_dexcom.js"></script>
        <script>
            var userId = "{{ userId }}";
            var token;
            console.log(`userId=${userId}`);
            $.when($.ready).then(async () => {
                try {
                    token = (await getDexcomOAuthToken()).access_token;
                } catch (err) { console.warn('not logged in.'); }
                if((userId != '') && (userId != 'null') && (token != '') && (token != null) && (token)) {
                    console.log("already logged in.");
                    var ref = document.referrer.split("/");
                    ref = ref[ref.length-1];
                    if(window.location.pathname.includes('login')) {
                        const newhref = ((ref == 'logout') || (ref == '')) ? '/' : `/${ref}`;
                        console.log("navigating to:", newhref);
                        window.location.href = newhref;
                    }
                } else {
                    console.log('not logged in yet...');
                    $("#login-bar").load("/static/login_dexcom.html");
                }
            });
        </script>
        <ion-alert id="username-prompt"></ion-alert>
    {% endblock body %}
</body>
