{# get externally defined macros #}
{% from 'base.html.jinja2' import bootstrap_icon %}
{% macro cmi_abbrev() %}
    <abbr title="Chronometabolic Index"><a class="text-decoration-none text-body" href="#cmi-faq-item">CMI</a></abbr>
{% endmacro %}
{% macro bs_collapse(target_id, link_text, card_body, extra_class="", container_style="") %}
    <li class="list-group-item-primary">
        <a class="text-primary text-decoration-none collapsed btn container-fluid"
           data-bs-toggle="collapse"
           href="#{{ target_id }}"
           role="button"
           aria-expanded="false"
           aria-controls="{{ target_id }}">
            <div class="row">{{ link_text }}</div>
        </a>
    </li>
    <li class="container-fluid" style="{{ container_style }}">
        <div class="container-fluid collapse {{ extra_class }}"
             id="{{ target_id }}"
             style="">{{ card_body }}</div>
    </li>
{% endmacro %}
{% macro card_body() %}
    <li id="cmi-faq-item" class="d-flex">
        <h5 class="col col-2 border-end p-2">FAQ</h5>
        <small class="col col-10 fs-small p-2" style="max-width:75%;">
            <dl>
                <dt>What is {{ cmi_abbrev() }}...?</dt>
                <dd>
                    The Chronometabolic Index ({{ cmi_abbrev() }}) is a physiofunctional metric that quantifies your overall metabolic health
                    on a scale from <span class="text-danger">1 (least healthy)</span> to <span class="text-success">10
                    (healthiest)</span>.
                </dd>
                <dt>What data is used to calculate {{ cmi_abbrev() }}?</dt>
                <dd>
                    The {{ cmi_abbrev() }} score calculation is performed using the CGM data for the wear period you
                    indicated.
                </dd>
                <dt>Could you provide more details about how the score is calculated?</dt>
                <dd>
                    {{ cmi_abbrev() }} aims to quantify multiple aspects of your neuroendocrine health by inferring
                    endogenous metabolic dynamics from the data you provided.
                    <br />
                    <a href="#">Click here to learn more...</a>
                </dd>
            </dl>
        </small>
    </li>
{% endmacro %}
{% macro progress_bar() %}
    <li id="cmi-progress-item" class="d-flex" style="background: lightgray;">
        <h5 class="col col-2 border-end d-flex">{{ cmi_abbrev() }}</h5>
        <div class="d-flex p-2 col col-8 container card card-body">
            <div class="progress" style="height:30px;">
                <h5 class="progress-bar bg-{{ summary.cmi.quality.color }} text-black fw-bold"
                    style="width:{{ (10*summary.cmi.score)|int }}%;
                           height:30px">{{ "{:d}".format(summary.cmi.score|int) }} / 10</h5>
            </div>
            <br />
            <p class="p-2">
                <span class="lead">
                    Overall: Your score indicates that your chronometabolic health is <span class="fw-bold text-{{ summary.cmi.quality.color }}">{{ summary.cmi.quality.title }}</span>.
                </span>
            </p>
        </div>
    </li>
{% endmacro %}
{% macro cmi_summary() %}
    <ul class="list-group container d-flex">
        {{ progress_bar() }}
        {{ card_body() }}
    </ul>
{% endmacro %}
<style>
#cmi-calc-details {
    background-color: darkgray;
}
</style>
<div id="recs-summary-body" class="rounded">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active"
                        id="summary-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#summaryPanel"
                        type="button"
                        role="tab"
                        aria-controls="summaryPanel"
                        aria-selected="true">Summary</button>
            </li>
            <li class="nav-item">
                <button class="nav-link"
                        id="planning-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#planningPanel"
                        type="button"
                        role="tab"
                        aria-controls="planningPanel"
                        aria-selected="false">Planning</button>
            </li>
        </ul>
        <!-- BEGIN tab-content -->
        <div class="tab-content">
            <!-- Summary tab-pane -->
            <div class="tab-pane active"
                 role="tab-panel"
                 id="summaryPanel"
                 aria-labelledby="summary-tab">
                <h4>Summary</h4>
                {# Summary #}
                <ul class="list-group">
                    {{ bs_collapse("cmi-calc-details", '<span class="fw-bold">Chronometabolic Index</span>',
                    cmi_summary(), extra_class="show", container_style="background-color: darkgray;") }}
                    <li class="list-group-item-primary container-fluid"
                        style="text-align:center">
                        <span class="container-fluid fw-bold">Strengths & Weaknesses</span>
                    </li>
                    <li>
                        <ul class="list-group list-group-horizontal container-fluid"
                            id="strengthWeaknessContainer">
                            {# Strength item #}
                            <li class="bg-success">
                                <a class="btn container-fluid"
                                   data-bs-toggle="collapse"
                                   href="#strengthDetails"
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="strengthDetails">
                                    <div class="row">
                                        <div class="col fw-bold">
                                            {{ bootstrap_icon("bi-hand-thumbs-up") }}
                                            Strength:
                                        </div>
                                        <div class="col">{{ summary.strength.fmt_title }}</div>
                                    </div>
                                </a>
                            </li>
                            <li style="overflow: hidden;">
                                <div class="collapse show container show grid border-0 p-0"
                                     id="strengthDetails"
                                     class="strength-details">
                                    <div class="container">
                                        <ul class="list-group">
                                            {{ summary.strength.fmt_short }}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {# Weakness item #}
                            <li class="bg-danger">
                                <a class="btn container-fluid"
                                   data-bs-toggle="collapse"
                                   href="#weaknessDetails"
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="weaknessDetails">
                                    <div class="d-flex">
                                        <div class="fw-bold">
                                            {{ bootstrap_icon("bi-hand-thumbs-down") }}
                                            Weakness:
                                        </div>
                                        <div>{{ summary.weakness.fmt_title }}</div>
                                    </div>
                                </a>
                            </li>
                            <li style="overflow: hidden;">
                                <div class="container collapse show grid border-0 p-0"
                                     id="weaknessDetails"
                                     class="weakness-details">
                                    <div class="container">
                                        <ul class="list-group">
                                            {{ summary.weakness.fmt_short }}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Planning tab-pane -->
            <div class="tab-pane"
                 id="planningPanel"
                 role="tab-panel"
                 aria-labelled-by="planning-tab">
                <h4>Planning</h4>
                <div class="card card-body">
                    <ul class="list-group">
                        <li class="list-group-item text-light" style="background: mediumpurple;">
                            <div class="container d-flex">
                                <span class="col col-2 fw-bold border-end">Plan Overview</span>
                                <div class="col col-10">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="fw-bold">Low BG Value:</span> {{ '%d'|format(summary.model_result.formatted_data.value.min()|int) }}
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">High BG Value:</span> {{ '%d'|format(summary.model_result.formatted_data.value.max()|int) }}
                                        </li>
                                        {{ summary.weakness.fmt_short }}
                                        <li class="list-group-item">
                                            <small>See the <span class="fw-bold">Visual Plan</span> below for more info...</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item container">
                            {# Visual Plan #}
                            <div>
                                <h5>Visual Plan</h5>
                                <p class="small muted">
                                    You can use this chart as a guide to improve your CMI score.
                                    <br />
                                    By following the plan, you can improve your body's
                                    <span style="color:{{ summary.weakness_signal_color_hex }};">{{ summary.weakness.column_label }}</span> levels to better match the
                                    <span style="color:{{ summary.weakness_goal_color_hex }};">'Goal'</span>.
                                </p>
                            </div>
                            <div class="d-flex">
                                <figure class="figure">
                                    {{ summary.visual_plan }}
                                </figure>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END tab-content -->
        </div>
        <div class="container row" id="report-timestamp-container">
            <p>
                {{ '(report date: ' + ":".join(summary.model_result.queryDate.split(':')[:-1]) + ')' }}
            </p>
        </div>
    </div>
    {# Scripts for recs summary page #}
    <script>
        $(() => {
            $("ul.list-group > li").addClass("list-group-item");
            $('a[data-bs-toggle="tooltip"]').each(async (index, element) => {
                const tooltip = await bootstrap.Tooltip.getOrCreateInstance(element, {
                    html: true,
                });
            });
            $(".nav-link button").each((i, el) => {
                const tabTrigger = new bootstrap.Tag(el);
                el.addEventListener("click", evt => {
                    evt.preventDefault();
                    tabTrigger.show();
                });
            });
            $("#visualPlanImage").on("click", (evt) => {
                if (!($("#visualPlanImage")[0].style.transform)) {
                    $("#visualPlanImage").css({
                        transform: 'scale(1.5)',
                    });
                } else {
                    $("#visualPlanImage").css({
                        transform: '',
                    });
                }
            });
        });
    </script>
</div>
