<div class="container p-4 border">
    <h3>Personal Sleep/Wake habits</h3>
    <p class="lead">Your day-to-day average Sleep/Wake habits:</p>
    <div id="habits-forms" class="mb-3">
        <h4 class="form-text">Wake:</h4>
        <div class="input-group" id="wake-inputs">
            <span class="input-group-text">Time:</span>
            <input aria-label="Hour (24-hour clock)" type="number" class="form-range form-control"
             min="0" max="24" step="1" id="wake-time-input" value="7">
        </div>
        <h4 class="form-text">Sleep:</h4>
        <div class="input-group" id="sleep-inputs">
            <span class="input-group-text">Time:</span>
            <input aria-label="Hour (24-hour clock)" type="number" class="form-range form-control"
             min="0" max="24" step="1" id="sleep-time-input" value="22">
        </div>
    </div>
</div>