{% block doctype %}
    <!DOCTYPE html>
    <html lang="EN"
          data-bs-theme="light"
          class="h-100"
          title="PFun Glucose App">
    {% endblock doctype %}
    {% macro bootstrap_icon(name, fill=True, alt=False) %}
        {% if "bi-" not in name %}
            {% set name="bi-{name}".format(name=name) %}
        {% endif %}
        {% with alt_display="", fill_display="" %}
            {# load for dark & light themes #}
            {% if not alt %}
                {% set alt_display='style="display: none;"' %}
            {% endif %}
            {% if not fill %}
                {% set fill_display='style="display: none;"' %}
            {% endif %}
            <i class="bi {{ name }}" {{ alt_display }}></i>
            <i class="bi {{ name }}-fill" {{ fill_display }}></i>
        {% endwith %}
    {% endmacro %}
    {% macro pfun_icon(w=16, h=16) %}
        {% with width='', height='' %}
            {% if w %}
                {% set width = 'width="{:d}"'.format(w) %}
            {% endif %}
            {% if h %}
                {% set height = 'height="{:d}"'.format(h) %}
            {% endif %}
            <img class="img-fluid" src="/static/icons/pfun-icon.png" alt="PFun Logo" {{ width }} {{ height }} />
        {% endwith %}
    {% endmacro %}
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="icon" type="image/x-icon" href="/static/icons/pfun-icon.png">
            {# jquery #}
            <script src="/static/jquery/jquery-3.6.4.min.js"></script>
            {# bootstrap #}
            <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="/static/icons/bootstrap-icons/bootstrap-icons.css"
                  rel="stylesheet">
            <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
            {# global js methods #}
            <script src="/static/js/dateDiff.js"></script>
            <script src="/static/js/app.js"></script>
            {# pfun custom CSS #}
            <link href="/static/css/base.css" rel="stylesheet" type="text/css" />
            {# ionic framework CDN #}
            <script type="module"
                    src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
            <script nomodule
                    src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"
                  rel="stylesheet"/>
            {# custom inline css #}
            <style>
                .prevent-select {
                    -webkit-user-select: none; /* Safari */
                    -ms-user-select: none; /* IE 10 and IE 11 */
                    user-select: none; /* Standard syntax */
                }
            </style>
        {% endblock head %}
    </head>
    <body class="h-100">
        {% block body %}
            <header class="d-flex">
                {% block header %}
                    {# pfun-app branded navbar #}
                    <div class="navbar navbar-expand-lg container-fluid d-flex">
                        <div class="navbar-brand rounded bg-primary p-2 d-flex container-fluid row">
                            <div class="col container p-1 mb-2">
                                <a class="navbar-brand rounded-pill shadow p-2 pfun-servicemark"
                                   style="background: lightskyblue"
                                   href="/">{{ pfun_icon(25, 25) }}<span class="first-p pfun-servicemark">P</span>Fun Glucose
                                </a>
                            </div>
                            {# Menu #}
                            <div>
                                <button class="btn btn-primary"
                                        type="button"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#pfunGlucoseNav"
                                        aria-controls="offcanvasScrolling">Menu</button>
                            </div>
                        </div>
                    </div>
                {% endblock header %}
            </header>
            <footer class="d-flex">
                {% block footer %}
                    <nav class="d-flex p-1">
                        <!-- footer (toggle theme) !-->
                        <div class="nav d-flex container-fluid footer border-top fixed-bottom p-3 bg-primary rounded">
                            <div id="footer-util-btns-container" class="col col-1 rounded shadow">
                                <div class="p-1 mb-2">
                                    <button id="toggle-theme-btn"
                                            class="btn btn-md btn-light rounded shadow"
                                            title="Toggle theme (light/dark).">{{ bootstrap_icon("sun") }}</button>
                                </div>
                                <div class="p-1 mb-2">
                                    <button id="clear-cached-btn"
                                            class="btn btn-sm btn-warning rounded shadow"
                                            title="Clear your locally cached data."
                                            disabled>
                                        {{ bootstrap_icon("x-square") }}<span>Clear Cache</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col col-10">
                                <div id="footer-logo-container"
                                     class="rounded-pill mx-auto shadow p-2"
                                     style="max-width: fit-content;
                                            background:lightskyblue">
                                    <div class="shadow rounded-pill fw-bold" data-bs-theme="light">
                                        {{ pfun_icon(128, 128) }}<span class="pfun-servicemark"><span class="pfun-servicemark first-p">P</span>Fun Glucose</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <script>
                            function setTheme(theme) {   
                                $("*").not("title, head, meta, link, script, #footer-logo-container, .pfun-servicemark").attr("data-bs-theme", theme);
                                localStorage.setItem("data-bs-theme", theme);
                            }
                            document.addEventListener("DOMContentLoaded", (evt) => {
                                $("#clear-cached-btn").on("click", () => {
                                    // clear storage on click cleach-cached-btn.
                                    localStorage.clear();
                                    console.log("cleared cached storage.");
                                    window.location.reload();
                                });
                                if (localStorage.length > 0) {
                                    // enable clear cached button if storage exists.
                                    $("#clear-cached-btn").prop("disabled", false);
                                }
                                if (!localStorage.getItem("data-bs-theme")) {
                                    localStorage.setItem("data-bs-theme", "light");
                                }
                                const data_bs_theme = localStorage.getItem("data-bs-theme");
                                document.documentElement.setAttribute("data-bs-theme", data_bs_theme);
                                $("#toggle-theme-btn").on('click', (evt) => {
                                    if (localStorage.getItem("data-bs-theme") == 'dark') {
                                        setTheme('light');
                                    }
                                    else {
                                        setTheme('dark');
                                    }
                                    $(".bi").toggle();
                                });
                            });
                    </script>
                {% endblock footer %}
            </footer>
        {% endblock body %}
    </body>
</html>
