<script src="/static/js/data_menu.js"></script>
{# data viewer menu #}
<div disabled="true"
     class="row container-fluid opacity-25"
     id="data-viewer-container">
  <h3 class="lead">Dexcom API Query:</h3>
  <div class="card col-12">
    <div class="card-body mr-auto">
      <form action="">
        <fieldset>
          <div class="input-group mb-3 container">
            <label class="input-group-text" for="dexcom-query-selector">Choose an endpoint:</label>
            <div class="col-auto">
              <select id="dexcom-query-selector" class="form-select form-control">
                {% for endpoint in endpoints %}<option value="{{ endpoint }}">{{ endpoint|title() }}</option>{% endfor %}
              </select>
            </div>
            <div class="input-group">
              {% for endpoint, opts in endpoints.items() %}
                {% if opts %}
                  <fieldset id="{{ endpoint }}-fieldset" class="secondary-select col-12">
                    {% for option in opts %}
                      <label class="input-group-text col-sm"
                             for="{{ endpoint }}-{{ option }}-input">{{ option|title() }}</label>
                      <input class="col-md form-control"
                             id="{{ endpoint }}-{{ option }}-input"
                             type="datetime-local"
                             placeholder="{{ option }}={{ opts.get(option) }}"
                             value="{{ opts.get(option) }}"/>
                    {% endfor %}
                  </fieldset>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="col-12">
            {# Data menu Buttons #}
            <button class="btn btn-outline-primary" id="dexcom-query-btn">Submit Query</button>
            <a class="btn btn-sm btn-outline-secondary"
               id="show-data-viewer-dialog-btn">Open Viewer</a>
            <a class="btn btn-sm btn-outline-danger" id="delete-all-data-btn">Delete All (local)</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="rounded modal fade container-md"
     id="data-output-dialog-container"
     data-backdrop="static"
     data-keyboard="false"
     tabindex="-1"
     aria-labelledby="data-output-dialog-container"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Data Viewer</h5>
        <button type="button"
                class="close"
                data-bs-dismiss="modal"
                data-bs-target="#data-output-dialog-container"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container-fluid">
        <div class="container-fluid">
          <div class="accordion" id="data-viewer-output">
            <!-- data query results display here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
