<!-- macros/google_tags.html.jinja2 -->
<!-- Google Tags macros -->

{% macro google_tags_head_script() %}
<!-- Google Tags ~ place as high in the <head> area as possible -->
<!-- Google Tag Manager -->
<script src="{{ url_for('static', path='js/gtm.js') }}"></script>
<!-- End Google Tag Manager -->
{% endmacro %}

{% macro google_tags_body() %}
<!-- Google Tags ~ place immediately after the <body> tag -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NRHCDHD8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endmacro %}
