<!-- macros/survey_modal.html.jinja2 -->

{% macro survey_modal_script() %}

<!-- survey modal javascript -->
<script src="{{ url_for('static', path='js/survey-modal.js') }}"></script>
{% endmacro %}

{% macro survey_modal_html() %}
<!-- survey modal window (configured via javascript) -->
<div id="surveyModal" class="modal modal-fullscreen fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">PFun Digital Health ~ Beta Signup</h6>
            </div>
            <div class="modal-body mw-100">
                <iframe id="surveyFrame" name="surveyFrame" width="640" height="814" frameborder="0" marginheight="0"
                    marginwidth="0">Loading…
                </iframe>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endmacro %}
