{% extends "base.html.jinja2" %}
{% import "macros/demos_common.html.jinja2" as demos_common %}
{% block title %}Canvas Wave WebSocket Example{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path='canvas-wave-demo/canvas-wave-demo.css') }}">
{% endblock %}

<body>
    <header>
        {% block navheader %}
        {{ super() }}
        {% endblock %}
    </header>

    <div id="content">
        {% block content %}
        <h2>Canvas Wave WebSocket Demo</h2>
        <p class=" text-start text-wrap">
            Drag the mouse on the canvas to control the glucose time constant (<code>taug</code>) parameters and see the waveform update in
            real-time.
        </p>

        <div id="demo-container" class="demo-container">
            <!-- Controls Container -->
            {{ demos_common.render_form_controls_container(params) }}

            <!-- Chart Container -->
            <div id="chart-container" class="container-fluid vh-100">
                <div id="canvas-container" class="container">
                    <canvas id="waveCanvas" style="min-width: inherit; min-height: inherit;"></canvas>
                </div>
                <div id="message-list">
                    <h4>Log</h4>
                    <div id="messages"></div>
                </div>
            </div>
        </div>

        <!-- WebSocket Configuration -->
        <script src="{{ url_for('static', path='js/ws-config.js') }}"></script>

        <!-- Socket.IO CDN -->
        <script src="{{ cdn['socketio']['url'] }}" crossorigin="anonymous"></script>
        <!-- canvas-wave-demo app script -->
        <script src="{{ url_for('static', path='canvas-wave-demo/canvas-wave-demo.js') }}"
            crossorigin="anonymous"></script>

        {% endblock %}
    </div>
</body>

</html>
