<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}" integrity="{{ csp_hashes['style.css'] }}"
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>PFun Glucose -- Demo</title>
</head>

<body>
    <h1>PFun Glucose Web API &mdash; Demo</h1>

    <p><em>Please note that the API is currently under active development</em></p>
    <h2>Endpoints:</h2>
    <ul>
        <li>View the interactive glucose modeling demo at <a href="/demo/run-at-time">/demo/run-at-time</a>.</li>
        <li>View the model parameters schema using the <a href="/params/schema">/params/schema</a> endpoint.</li>
        <li>Get the default model parameters using the <a href="/params/default">/params/default</a> endpoint.</li>
    </ul>
    <h2>Documentation:</h2>
    <p>For more information on how to use the API, please refer to the documentation available at:</p>
    <ul>
        <li><a href="/docs">(SwaggerUI) Interactive API Documentation</a></li>
        <li><a href="/redoc">(ReDoc) Readable API Documentation</a></li>
        <li><a href="/openapi.json">(JSON) OpenAPI Schema</a></li>
    </ul>
</body>

</html>