{% extends "base.html" %}
{% block title %}PFun Glucose Web API &mdash; Demo{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

<body>
    <header>
        {% block navheader %}
        {{ super() }}
        {% endblock %}
    </header>

    <div id="content">
        {% block content %}
        <h1>PFun Glucose Web API &mdash; Demo</h1>

        <p><em>Please note that the API is currently under active development</em></p>
        <h2>Visual Dashboard(s)</h2>
        <ul>
          <li>
            <a href="/demo/run-at-time" target="_blank">Run-at-Time Dashboard</a>
          </li>
	  <li>
            <a href="/demo/webgl-demo" target="_blank">WebGL real-time Demo</a>
          </li>
	  <li>
            <a href="/demo/dexcom" target="_blank">Dexcom CGM Dashboard</a>
          </li>
        </ul>
        <hr />
        <h2>API Endpoints</h2>
        <ul>
            <li>View the model parameters schema using the <a href="/params/schema">/params/schema</a> endpoint.</li>
            <li>Get the default model parameters using the <a href="/params/default">/params/default</a> endpoint.</li>
        </ul>
        <hr />
        <h2>Documentation:</h2>
        <p>For more information on how to use the API, please refer to the documentation available at:</p>
        <ul>
            <li><a href="/docs">(SwaggerUI) Interactive API Documentation</a></li>
            <li><a href="/redoc">(ReDoc) Readable API Documentation</a></li>
            <li><a href="/openapi.json">(JSON) OpenAPI Schema</a></li>
        </ul>
        {% endblock %}
    </div>
    <hr />
    <footer>
        {% block footer %}
        <hr />
        <div>
            <p><small>{{ message }}</small></p>
            <p>&copy; {{ year }} PFun Digital Health. All rights reserved.</p>
        </div>
        {% endblock %}
    </footer>
</body>

</html>
