{% extends "base.html" %}
{% block title %}PFun Glucose Web API &mdash; Demo{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

<body>
 
<!-- Modal -->
    <div class="modal fade" id="surveyModal" tabindex="-1" aria-labelledby="surveyModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="surveyModalLabel">Quick survey</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-0">
            <!-- Your Google Form iframe -->
            <iframe
              src="https://docs.google.com/forms/d/e/1FAIpQLSeQ8TujEgwzt0L1enhA3k_fR9eVqWLtehr8ilv9NBy5_bj39Q/viewform?embedded=true"
              width="100%"
              height="820"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
            >Loading…</iframe>
          </div>
        </div>
      </div>
    </div>

    <header>
        {% block navheader %}
        {{ super() }}
        {% endblock %}
    </header>

    <div id="content">
        {% block content %}
        <h1>PFun Glucose Web API &mdash; Demo</h1>

        <p><em>Please note that the API is currently under active development</em></p>
        <h2>Demos</h2>
        <h4>Visualizations, interactive dashboards, etc.</h4>
        <ul>
            <li>
                <a href="/demo/run-at-time" target="_blank">(WebSockets) Run-at-time Demo</a>
            </li>
            <li>
                <a href="/demo/full-model-run" target="_blank">(WebSockets) Full Model Run (c, m, a)</a>
            </li>
            <li>
                <a href="/demo/webgl-demo" target="_blank">(WebGL) Real-time Streaming Demo</a>
            </li>
            <li>
                <a href="/demo/data-stream" target="_blank">(Fetch) Data Stream Demo</a>
            </li>
            <!-- <li>
                <a href="/demo/rolling-window-demo" target="_blank">(WebGL) Rolling Window Demo</a>
            </li> -->
        </ul>
        <hr />
        <h5>Notebooks</h5>
        <ul>
            <li>
                <a href="{{ url_for('static', path='notebooks/cma-model-modular-demos.html') }}" target="_blank">Modular
                    CMA Model Demo</a>
            </li>
            <li>
                <a href="{{ url_for('static', path='notebooks/visualize-generated-scenarios.html') }}"
                    target="_blank">Visualize Generated Scenarios</a>
            </li>
        </ul>
        <hr />
        <h2>API Endpoints</h2>
        <ul>
            <li>View the model parameters schema using the <a href="/params/schema">/params/schema</a> endpoint.</li>
            <li>Get the default model parameters using the <a href="/params/default">/params/default</a> endpoint.</li>
        </ul>
        <hr />
        <h2>Documentation:</h2>
        <p>For more information on how to use the API, please refer to the documentation available at:</p>
        <ul>
            <li><a href="/docs">(SwaggerUI) Interactive API Documentation</a></li>
            <li><a href="/redoc">(ReDoc) Readable API Documentation</a></li>
            <li><a href="/openapi.json">(JSON) OpenAPI Schema</a></li>
        </ul>
        {% endblock %}
    </div>
    <hr />
    <footer>
        {% block footer %}
        <hr />
        <div>
            {{ super() }}
        </div>
        {% endblock %}
    </footer>
</body>

</html>