{% extends "base.html.jinja2" %}
{% import "macros/demos_common.html.jinja2" as demos_common %}
{% block title %}LLM Generate Scenario Demo{% endblock %}

{% block head %}
{{ super() }}
  <!-- local "global" stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
  <!-- load styles for jquery toasts -->
  <link rel="stylesheet" href="{{ url_for('static', path='css/jquery.toast.min.css') }}">
{% endblock %}

<body>
    <header>
        {% block navheader %}
        {{ super() }}
        {% endblock %}
    </header>

    <div id="content">
	{% block content %}

	<h1 class="display-1">LLM Demo</h1>	
	<div class="container-fluid grid d-flex">
	    
	    <div id="llm-app-content" class="container flex p-2">
		
		<h3 class="display-5">Input</h3>
		<h5 class="subtitle text-secondary">Patient description, health-relevant information</h5>
		    <div id="input-container" class="container grid flex shadow-lg p-3 mb-5 bg-body rounded border border-primary">
			<p class="text-primary">Please enter a plain-English query below.</p>
			<form id="query-form" class="form">
			    <div class="form-group">
				<textarea
				    id="query-input" rows="15" cols="30"
				    placeholder="e.g., A relatively health individual with high glucose in the evenings.">A relatively healthy individual who likes to exercise early in the morning. What can you tell me to improve?</textarea>
			    </div>
			    <div class="button-group p-2 container rounded">
				<button id="submit-btn" type="submit" class="btn btn-primary btn-lg">Submit</button>
				<div id="loading-container" class="container-fluid text-bg-secondary text-left" style="display: none;">
				    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
				    Loading...
				</div>
			    </div>
			</form>
		    </div>
		    
		    <h3 class="display-5">Output</h3>
		    <h5 class="subtitle text-secondary">PFun generated information</h5>
		    <div id="output-container"
			 class="container d-flex flex border border-dark rounded shadow-lg p-3 mb-5 bg-body"
		    >
			<div id="responses-container" class="grid flex container">
			    <ul class="list-group">
			    <div id="formatted-response-container" class="list-group-item">
				<p class="h-5 text-center text-bg-primary fw-bolder">Recommendations</p>
				<dl id="formatted-response-output" class="text-wrap text-bg-body"></dl>
			    </div>
			    <div id="raw-response-container" class="list-group-item">
				<p class="h-5 text-center text-bg-info fw-bolder">Raw output</p>
				<pre id="response-output" class="text-wrap text-bg-body"></pre>
			    </div>
			</div>
		    </div>

	    </div><!-- /end accordion -->
	</div>


	<!-- source for jquery simple toasts extension -->
	<script async defer type="text/javascript" src="{{ url_for( 'static', path='js/jquery.toast.min.js') }}"></script>

	<!-- llm prompt interaction -->
	<script>
	 document.addEventListener("DOMContentLoaded", () => {
	     localStorage.setItem('ntry_count', '0'); // number of times we've tried the endpoint before reloading
	 });
		 
	 const onFormSubmit = async (event) => {
	     
	     try {
		 event.preventDefault();
	     } catch(err) {
		 console.warn(err);
	     }

	     // show loading indicator
	     $("#loading-container").show();

	     // get the relevant elements
             const query = document.getElementById('query-input').value;
             const query_url = new URL(window.location.origin + "/llm/generate-scenario");
             const responseOutput = $("#response-output");
	     const fmtOutput = $("#formatted-response-output");

             try {
		 if(query === '<<TEST_ERROR>>') {
		     // test the error behavior (not a real prompt)
		     throw new Error("<<TEST_ERROR>>");
		 }
                 query_url.searchParams.set('prompt', query);
		 $("#submit-btn").addClass("disabled");
                 const response = await fetch(query_url.toString(), {
                     method: 'POST',
                     headers: {
                         'Content-Type': 'application/json'
                     },
                     body: null
                 }).then((response) => {
		     console.log('raw response:\n', response);
		     $("#loading-container").hide();
		     return response;
		 });

                 if (!response.ok) {
                     const error = await response.json();
                     throw new Error(error.detail);
                 }

		 const data = await response.json();
                 const str_content = JSON.stringify(data, null, 2);
		 if(!str_content.startsWith("Err")) {
		     console.debug('confirmed! this is a successful response');
		     // update the response output (in the UI)
		     let recs_data = data.recommendations;
		     console.log("Recommendations data:", recs_data);
		     $(Object.entries(recs_data)).each((ix, [key, value]) => { 
			 $(fmtOutput).append(
			     `<dt>${key}</dt><dd>${value}</dd>`
			 );  // update the formatted response output
		     });
		     $(responseOutput).text(str_content); // update the raw response output text
		     // re-enable the submit button
		     $("#submit-btn").removeClass("disabled");
		 } else {
		     // there was an error otherwise
		     throw new Error(str_content);
		 }
             } catch (error) {
		 // ensure the user can't submit manually again during this time
		 $("#submit-btn").addClass("disabled");
		 // increment the count of retries
		 let ntry_count = parseInt(localStorage.getItem("ntry_count"));
		 ntry_count = ntry_count + 1;
		 localStorage.setItem("ntry_count", `${ntry_count}`);
		 if(ntry_count >= 4) {
		     alert(
			 "Your request has been tried too many times.\n\nAfter the page reloads, please try again." +
			 "\nThe page should automatically refresh after you close this dialog."
		     );
		     // attempt to refresh the page automatically
		     window.location.reload();
		 }
                 console.error(`Error: ${error.message}`);
		 const error_msg =
		     "Whoops! The server is busy right now."
		     "\nRetrying your request in a moment... Please wait.";
		 const errToast = $.toast({
		     heading: 'Error',
		     text: `${error_msg}`,
		     showHideTransition: 'fade',
		     icon: 'error',
		     hideAfter: 20000,
		     stack: true,
		 });
		 setTimeout(() => {
		     errToast.update({
			 heading: 'Trying again...',
			 text: 'Attempting your request again... Please wait.',
			 hideAfter: 6000,
			 icon: 'info',
			 bgColor: 'info',
		     });
		     console.log("Trying again in 3 seconds...");
		     setTimeout(async () => {
			 // try the request again.
			 await onFormSubmit();
		     }, 5000);
		 }, 6500);
             }
         };
         document.getElementById('query-form').addEventListener(
	     'submit', onFormSubmit);
	</script>
	{% endblock content %}
    </div>
</body>
</html>
