{% extends "base.html.jinja2" %}
{% import "macros/demos_common.html.jinja2" as demos_common %}
{% block title %}PFun Health Tips Demo{% endblock %}

{% block head %}
{{ super() }}
<!-- load styles for jquery toasts -->
<link rel="stylesheet" href="{{ url_for('static', path='css/jquery.toast.min.css') }}">
{% endblock head %}

<body>
    {% block body %}

    <header>
        {% block navheader %}
        {{ super() }}
        {% endblock %}
    </header>

    <div id="content">
        {% block content %}

        <div class="text-center">
            <h1><span class="badge bg-secondary">Demo</span> PFun Health Tips</h1>
            <h6 class="subtitle text-secondary">
                <span class="text-wrap fw-light text-secondary">Generate personalized health tips
                    using the PFun CMA Model API.</span>
            </h6>
        </div>
        <div class="container-fluid grid d-flex">

            <div id="llm-app-content" class="container flex p-2">
                <div id="input-container"
                    class="container grid flex shadow-lg p-3 mb-5 bg-body rounded border border-primary">
                    <h6>
                        <span class="lead fw-bolder text-primary">Describe your health goals...&nbsp;&nbsp;</span>
                        <span class="text-secondary">Enter your query in the text box below. How are you feeling in
                            general? Any specific health concerns or goals you'd like to address?</span>
                    </h6>
                    <form id="query-form" class="form">
                        <div class="form-group row p-4 rounded">
                            <textarea id="query-input" rows="15" cols="30"
                                placeholder="{{ prompt_placeholder_text }}"></textarea>
                        </div>
                        <div class="button-group row p-1 mb-2 rounded">
                            <button id="submit-btn" type="submit"
                                class="btn btn-primary btn-lg btn-block">Submit</button>
                            <div id="loading-container" class="container-fluid text-bg-secondary text-left d-none">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </div>
                        </div>
                    </form>
                </div>

                <!-- output container -->
                <div id="output-container"
                    class="grid container d-flex flex border border-dark rounded shadow-lg p-3 mb-5 bg-body">
                    <div id="responses-container" class="grid flex">
                        <ul class="list-group">
                            <div id="formatted-response-container" class="list-group-item">
                                <dl id="formatted-response-output" class="text-wrap text-bg-body"></dl>
                            </div>
                            <div id="raw-response-container" class="list-group-item">
                                <pre id="response-output" class="text-wrap fw-light"></pre>
                            </div>
                    </div>
                </div>

            </div><!-- /end output container -->
        </div>
        <!-- llm prompt interaction -->
        <script type="module" src="{{ url_for('static', path='llm-demo/llm-demo.js') }}"
            crossorigin="anonymous"></script>
        {% endblock content %}
    </div>

    <footer>
        {% block footer %}
        {{ super() }}
        {% endblock footer %}
    </footer>

    {% endblock body %}
</body>

</html>