<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Run-at-Time WebSocket Example</title>
  <link rel="stylesheet" href="{{ url_for('static', path='run-at-time.css') }}"
    nonce="{{ csp_hashes['run-at-time.css']['nonce'] }}" crossorigin="anonymous" referrerpolicy="no-referrer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h2>Run-at-Time WebSocket Demo</h2>
  <h3>Chart</h3>
  <div id="scatterPlotContainer">
    <canvas id="scatterPlot"></canvas>
  </div>
  <form id="runForm">

    <div class="form-row">
      <label for="t0" class="tooltip">t0 (0.0, 24.0):
        <span class="tooltiptext">Simulation start time (decimal hours).</span>
      </label>
      <input class="model-params" type="number" step="0.5" id="t0" name="t0" max="24.0" min="0" value="4" required>
    </div>

    <div class="form-row">
      <label for="t1" class="tooltip">t1 (0, 24.0):
        <span class="tooltiptext">Simulation end time (decimal hours).<br>Note: t1 must be greater than t0.</span>
      </label>
      <input class="model-params" type="number" step="0.5" id="t1" name="t1" max="24.0" min="0" value="20" required>
    </div>

    <div class="form-row">
      <label for="N" class="tooltip">N (1, 10000):
        <span class="tooltiptext">Number of points to simulate.<br>Note: N must be a positive integer.</span>
      </label>
      <input class="model-params" type="number" id="N" name="N" min="1" max="10000" value="100" required>
    </div>
    </head>

    <!-- Model Parameters: -->

    <h3>Model Parameters</h3>
    <div class="params-grid">
      {% for key, param in params.items() %}
      <div class="param-item">
        <label for="{{ key }}" class="tooltip">{{ key }}:
          <span class="tooltiptext">
            {{ param.description }}<br>
          </span>
        </label>
        <input class="model-params" type="number" step="0.05" id="{{ key }}" name="{{ key }}" value="{{ param.value }}"
          min="{{ param.min }}" max="{{ param.max }}" required>
      </div>
      {% endfor %}
    </div>

    <button type="submit">Send</button>
  </form>

  <div id="messages"></div>

  <!-- Chart.js CDN -->
  <script src="{{ csp_hashes['chartjs']['url'] }}" integrity="{{ csp_hashes['chartjs']['integrity'] }}"
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Socket.IO CDN -->
  <!-- Note: Ensure you have the correct version matching your server -->
  <script src="{{ csp_hashes['socketio']['url'] }}" integrity="{{  csp_hashes['socketio']['integrity'] }}"
    crossorigin="anonymous"></script>

  <script src="{{ url_for('static', path='run-at-time.js') }}" integrity="{{ csp_hashes['run-at-time.js'] }}"
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>